# Database Configurations
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# Mailer Configurations
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=
MAIL_PORT=
MAIL_ADDRESS=
MAIL_SENDER=

# Cloudinary Configurations
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Currency Configuration
BASE_CURRENCY=

# Conversion Configuration
BASE_CONVERSION_RATE=

# Flutterwave Configurations
FLW_SECRET_KEY=

# Paystack Configurations
PAYSTACK_SECRET_KEY=

# Firebase Configurations
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=

# Auth Paths
ADMIN_LOGIN_PATH=
USER_LOGIN_PATH=

# Redis Configurations
REDIS_USERNAME=
REDIS_PASSWORD=