# Application Configurations
APP_NAME=
APP_ENV=development
APP_DEBUG=true
APP_BASE_PATH= # Use '' if the site is hosted online at root domain (e.g., https://example.com)
APP_USE_VIEWS=false # Switch to true if you project architecture supports views
APP_VIEW_PATH= 
APP_LOG_FILE=  # Log file name for application logs (e.g app.log, main.log, application.log, php-errors.log, etc)

# Database Configurations
DB_CONNECTION=mysql
DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=

# Mailer Configurations
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=tls # ssl also available
MAIL_PORT=587 # 587 for tls & 465 for ssl
MAIL_ADDRESS=
MAIL_SENDER=

# Redis Configurations
REDIS_SCHEME=tcp
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

# Cloudinary Configurations
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Firebase Configurations
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=

# Session Driver Configuration (file, redis)
SESSION_DRIVER=file # redis also available
SESSION_LIFETIME=7200
SESSION_COOKIE=app_session # Use any name of your choice if using redis, otherwise, leave blank for file

# CACHE Driver Configuration (file, redis, apcu, memcached)
CACHE_DRIVER=file

# JWT Configurations
JWT_SECRET= # Generate and add here

# Currency Configuration
BASE_CURRENCY='NGN'

# Flutterwave Configurations
FLW_SECRET_KEY=

# Paystack Configurations
PAYSTACK_SECRET_KEY=