# Application Configurations
APP_NAME=
APP_ENV=development
APP_DEBUG=true
APP_URL= # Change to '' if the site is hosted online root domain (e.g., https://example.com)
APP_USE_VIEWS=true # Switch based on your project architecture
APP_VIEW_PATH=
APP_LOG_FILE=application.log  

# Database Configurations
# You can use mysql, memcache, mongodb, sqlite
DB_CONNECTION=mysql
# This is because this framework uses Docker's mysql service by default. 
# Change to `localhost` if your application will be using another MySQL server
DB_HOST=mysql
# Application database name
DB_DATABASE=
# Application database user name
DB_USERNAME=
# Application database user password
DB_PASSWORD=
# MySQL server root user password. 
# Use this password with `root` when logging into PHPMyAdmin for administrator access
DB_ROOT_PASSWORD=

# Mailer Configurations
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=tls
MAIL_PORT=587
MAIL_ADDRESS=
MAIL_SENDER=

# Redis Configurations
REDIS_SCHEME=tcp
# This is because this framework uses Docker's redis service by default. 
# Change to `127.0.0.1` or `localhost` if your application will be using another redis service
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

# Cloudinary Configurations
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Firebase Configurations
FIREBASE_ACCOUNT_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URL=
FIREBASE_TOKEN_URL=
FIREBASE_AUTH_PROVIDER_CERT_URL=
FIREBASE_CLIENT_CERT_URL=
FIREBASE_UNIVERSE_DOMAIN=

# Session Driver Configuration (file, redis)
SESSION_DRIVER=redis
SESSION_LIFETIME=7200
SESSION_COOKIE=app_session

# CACHE Driver Configuration (file, redis, apcu, memcached)
CACHE_DRIVER=redis

# JWT Configurations
JWT_SECRET=
JWT_EXPIRE_AT=7200