# ====================
# Other Folder Rules
# ====================
attachments/
uploads/
vendor/
node_modules/
storage/*
!storage/framework/
/database/backups/*

# ================================
# Prevent env from uploading
# ================================
.env
